mat-card {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.center-card {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 20px;
}

.book-cover-section {
  flex: 1;
  margin: 15px;
}

.book-cover-section img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.author-details-section {
  flex: 1;
  margin-left: -150px;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 1.7em;
}

.author-name {
  text-align: center;
}

.book-content {
  margin: 10px 0;
}

.author-description {
  margin: 10px 0;
  max-height: 30vh;
  overflow: auto;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0));
}

.author-description-short {
  margin: 10px 0;
  max-height: 15vh;
  overflow: hidden;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0));
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

p {
  margin-top: 5%;
}
.expand-description-button {
  margin-bottom: 20px;
}

.create-review-button {
  margin-top: 30px;
}

.book-details {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  margin: 50px auto 0;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.book-details h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.book-reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10%;
}

.review-card {
  width: calc(48% - 60px);
  margin-bottom: 2%;
  margin-right: 30px;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-title {
  text-align: center;
  display: block;
  margin: auto;
}

.edit-button {
  margin-top: auto;
  margin-bottom: 10px;
  width: 100%;
}

.your-reviews-header {
  text-align: center;
  margin: 30px;
}

.centered-title {
  text-align: center;
}

.book-reviews {
  margin-top: 40px;
}

h2, h1{
  text-align: center;
  margin-top: 20px;
}

.review-title {
  font-size: 1.5em;
}
