<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <mat-form-field>
    <mat-label>Numer ISBN</mat-label>
    <input matInput formControlName="isbn">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tytuł</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Opis</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <input type="file" formControlName="image" (change)="onFileChange($event)">

  <button mat-raised-button color="primary" type="submit" class="submit-button">Dodaj książkę</button>

  <button mat-icon-button class="close-button" routerLink="/">
    <mat-icon>close</mat-icon>
  </button>
</form>



