mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vh;
  background-color: red;
}
.search-bar-main {
  width: 30vw;
}

.book-option {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.book-cover {
  height: 50px;
  width: auto;
  position: relative;
  transform: translateX(-10px);
  margin-bottom: 10px;

}

.details-button {
  position: absolute;
  right: 0;
  order: -1;
}

mat-option {
  position: relative;
}
