<mat-card>
  <app-top-bar></app-top-bar>
</mat-card>

<div class="center-text">
  <h1>Odkrywaj oraz dodawaj do naszej bazy danych nowe książki oraz autorów! Pisz recenzje oraz dyskutuj w komentarzach.</h1>
</div>

<div class="center-text">
  <h1>Ostatnio dodane książki:</h1>
</div>

<div class="book-list">
  <mat-card *ngFor="let book of books" class="book-card">
    <img *ngIf="getBookCoverUrl(book.isbn) | async as url" [src]="url" alt="Book cover" class="book-cover">
    <mat-card-title>{{book.title}}</mat-card-title>
    <button mat-raised-button color="primary" (click)="navigateToBookDetails(book.isbn)">Wyświetl szczegóły</button>
  </mat-card>
</div>

<div class="center-text">
  <h1>Najwyżej oceniane książki:</h1>
</div>

<div class="book-list">
  <mat-card *ngFor="let topRatedBook of topRatedBooks" class="book-card">
    <img *ngIf="getBookCoverUrl(topRatedBook?.isbn) | async as url" [src]="url" alt="Book cover" class="book-cover">
    <mat-card-title>{{topRatedBook?.title}}</mat-card-title>
    <p>Średnia ocena: {{topRatedBook?.averageRating}}</p>
    <button mat-raised-button color="primary" (click)="navigateToBookDetails(topRatedBook?.isbn)">Wyświetl szczegóły</button>
  </mat-card>
</div>
<div class="center-text">
  <button mat-raised-button color="primary" routerLink="/books">Wyświetl wszystkie książki</button>
</div>

<div class="center-text">
  <h1>Ostatnio dodani autorzy:</h1>
</div>

<div class="author-list">
  <mat-card *ngFor="let author of authors" class="author-card">
    <img *ngIf="getAuthorPictureUrl(author.authorId) | async as url" [src]="url" alt="Author">
    <mat-card-title>{{author.name}} {{author.surname}}</mat-card-title>
    <button mat-raised-button color="primary" (click)="navigateToAuthorDetails(author.authorId)">Wyświetl szczegóły</button>
  </mat-card>
</div>

<div class="center-text">
  <button mat-raised-button color="primary">Wyświetl wszystkich autorów</button>
</div>
